<!DOCTYPE html>
<html>
	<html lang="en">
	<head>
		<title>Arseny and Richelle</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Spectral&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/d474d4d5d8.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		
		
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">AR</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  	</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  People
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/stories/aboutUs">Our Story</a>
						<a class="dropdown-item" href="/stories/weddingParty">Wedding Party</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Wedding
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/details/timeline">Timeline</a>
						<a class="dropdown-item" href="/details/ceremony">Ceremony Details</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Travel
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					  <a class="dropdown-item" href="/travels/europe">Europe</a>
					  <a class="dropdown-item" href="/travels/accomodation">Accomodations</a>
					  <a class="dropdown-item" href="/travels/funStuff">Fun Stuff</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/rsvp">RSVP</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/registry">Registry</a>
				</li>
			</ul>
	  	</div>
	</nav>
		