<!DOCTYPE html>
<html>
	<html lang="en">
	<head>
		<title>Arseny and Richelle</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Spectral&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/d474d4d5d8.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/stylesheets/aboutUs-styles.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		
		<nav id="main-nav" class="navbar navbar-dark navbar-expand-md py-1 sticky-top">
			<a class="navbar-brand">AR</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navlinks" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
			<div id="navlinks" class="collapse navbar-collapse">
				<ul class="navbar-nav">
					<!-- People Dropdown -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  People
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/stories/aboutUs">Our Story</a>
							<a class="dropdown-item" href="/stories/weddingParty">Wedding Party</a>
						</div>
					</li>
					<!-- Wedding Dropdown -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Wedding
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/details/timeline">Timeline</a>
							<a class="dropdown-item" href="/details/ceremony">Ceremony Details</a>
						</div>
					</li>
					<!-- Travel Dropdown -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Travel
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item" href="/travels/europe">Europe</a>
						  <a class="dropdown-item" href="/travels/accomodation">Accomodations</a>
						  <a class="dropdown-item" href="/travels/funStuff">Fun Stuff</a>
						</div>
					</li>
					<li class="nav-item">
						<a href="/registry" class="nav-link">Registry</a>
					</li>
					<li class="nav-item">
						<a href="/rsvp" class="nav-link">RSVP</a>
					</li>
				</ul>
			</div>
		</nav>
		