<%- include("./partials/header") %>
<div class="container">
	<h1>
	Registry
	</h1>
	<p>
		Your prescence and support at the wedding is more than enough of a gift for us, but if you'd like us to buy us a physical gift, feel free to use our online registries for ideas.  We have a registry with Target and Amazon! Money gifts are also great for us so we use it to travel between Hawaii, the mainland, and Russia! 
	</p>
	<a class="btn btn-warning btn-lg" href="https://www.amazon.com/wedding/share/arseny-and-richelle-2021-amazon-registry" role="button">Amazon Registry</a>
	<a class="btn btn-danger btn-lg" href="https://tgt.gifts/richelle-and-arseny-target" role="button">Target Registry</a>
</div>


<%- include("./partials/footer") %>