<%- include("../partials/header") %>

<div id="page-runner" class="container center justify-content-around my-auto align-self-center">
	
<div class="container jumbotron overflow-hidden my-1 text-center">
      <div class="col-md-6 p-lg-6 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">How the gym can change your life</h1>
      </div>
		<p class="lead font-weight-normal"> We met one fine evening on July 6th, 2018 after a chance encounter at the University of California Irvine "ARC" (Anteater Recreation Center) gym. Three years later, we're getting married! </p>
</div>

<!-- FIRST ROW	 whyyy tf is it not centered -->
<div class="container overflow-hidden p-3 p-md-4 m-md-3 bg-light d-flex justify-content-around my-auto align-self-center">
	<div class="my-1 py-3 px-2 w-100 mx-2 text-center col-lg"> 
          <h2 class="display-5">The Groom</h2>
          <p class="lead">Arseny Kirilovich Moskvichev</p>
		<p class="m-1 text-justify">
		 <strong>Arseny </strong>was born in the beautiful and historic city of St. Petersburg, Russia in 1992 to two young artists, Anna and Kirill. He spent his childhood competitively sailing on one of Russia's best teams, learning music, and being an all around inquisitive child. He attended a very competitive technical/mathematics school, and studied Psychology at St. Petersburg State University. After graduating and working for a few years, he moved to sunny California where he's a PhD student in Cognitive Science with a passion for Machine Learning. He is interested in figuring out the best ways in which humans learn, using machines. One of Arseny's ultimate goals in life is to seek beautiful things-- whether that means finding them or creating them himself. 
		</p>
		<br>
		<p class="m-1 text-justify">
			Arseny, to me, is a paradox that I am fascinated with. He loves the simple things such as hanging out at home on weekends, and eating raw veggies. Once comfortable with something, he sees little reason to change it. Yet in other ways, he is the most complex being I've ever met. He is always striving for more, in his research, in his knowledge, and in himself. He knows English grammar and vocabulary better than I ever did, and I think that's a product of his relentless spirit when studying something he finds important. He sleeps like a baby (arguably not a morning person), but debates like someone who is already a tenured academic. He loves his family and his country but is never afraid to explore new places. Depending on the task, it can take him two seconds or two years to finish something. My favorite nickname for him is "медведь" (bear) because of his abilities to hibernate, eat, scare people in sports (very competitive), and hug me. I am happy to be going through this journey with my bear. 
		</p>
		<p class="text-right">
			-- Richelle
		</p>
	</div>
	<div id="arseny-photo"class="my-1 py-3 px-2 border border-dark w-100 mx-2 text-center col-lg img-box-custom">
		<span></span>
	</div>
</div>

<!-- SECOND ROW ///////////////////////////////////////////////	 -->
<div class="container position-relative overflow-hidden p-3 p-md-4 m-md-3 bg-light d-flex justify-content-around">
	
	<div id="richelle-photo" class="my-1 py-3 px-2 border border-dark w-100 mx-2 text-center col-lg img-box-custom"> 
		<span></span>
    </div>
	
	<div class="my-1 py-3 px-2 w-100 mx-2 text-center col-lg">
          <h2 class="display-5">The Bride</h2>
          <p class="lead">Richelle - Ann Undan Cabatic</p>
		<p class="m-1 text-justify">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	
</div>
	
	
</div>
<%- include("../partials/footer") %>