<%- include("../partials/header") %>

<div class="container-fluid position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-6 p-lg-6 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">How the gym can change your life</h1>
        <p class="lead font-weight-normal"> one day blah blah </p>
      </div>
    </div>

<!-- FIRST ROW	 -->
<div class="container-fluid position-relative overflow-hidden border border-dark p-3 p-md-4 m-md-3 bg-light d-flex justify-content-around">
	<div class="my-1 py-3 px-2 border border-dark w-100 mx-2 text-center col-lg"> 
          <h2 class="display-5">The Groom</h2>
          <p class="lead">Arseny Kirilovich Moskvichev</p>
		<p class="m-1 text-justify">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div id="arseny-photo"class="my-1 py-3 px-2 border border-dark w-100 mx-2 text-center col-lg img-box-custom">
		<span></span>
	</div>
</div>

<!-- SECOND ROW ///////////////////////////////////////////////	 -->
<div class="container-fluid position-relative overflow-hidden border border-dark p-3 p-md-4 m-md-3 bg-light d-flex justify-content-around">
	
	<div id="richelle-photo" class="my-1 py-3 px-2 border border-dark w-100 mx-2 text-center col-lg img-box-custom"> 
		<span></span>
    </div>
	
	<div class="my-1 py-3 px-2 border border-dark w-100 mx-2 text-center col-lg">
          <h2 class="display-5">The Bride</h2>
          <p class="lead">Richelle - Ann Undan Cabatic</p>
		<p class="m-1 text-justify">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	
</div>
<%- include("../partials/footer") %>