<%- include("../partials/header") %>
		
	<section id="heading-group" class="container-fluid px-0">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="text-center d-none d-lg-block">
					<h1>
						How the gym <br> changes your life
					</h1>
					<div class="container">
						<p>
						We met by chance at the University of Irvine "ARC" gym on July 6th, 2018. Neither of us had imagined how much joy and love one evening at the gym could do. We are so happy to have the opportunity to grow together over the past few years. On January 5th, 2020, Arseny proposed on the top of Haleakala (a mountain on the island of Maui, Hawaii) at sunset. We were amongst our two great friends, Erin and Christian, who helped him set the scene up, complete with UV lights and magic tricks. Now, to "tie the knot" in a completely new and beautiful place!
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
			 <img class="img-fluid" src="https://i.imgur.com/Ri5jILz.jpg" alt="maui ocean center">
			</div> 

		</div>	
	</section>
		
	<section id="description-group" class="container-fluid px-0">
		<div class="row align-items-center content align-content-center">
			<div class="col-lg-6 order-2 order-md-1">
				<img class="img-fluid" src="https://i.imgur.com/2xjcfTv.jpg" alt="arseny">
			</div>
			<div class="col-md-6 text-center my-2 order-1 order-md-2 blurb mb-5 mb-md-0">
				<div class="row justify-content-center">
					 <div class="col-10">
						<h2>The Groom</h2>
						<h3> Арсений Кирилович Москвичев </h3>
						 <h4> Arseny Kirillovich Moskvichev </h4>
						<span class="d-none d-lg-inline"><i class="fas fa-globe-europe fa-3x"></i></span>
						<p class="lead mt-2">
							<strong>Arseny </strong>was born in the beautiful and historic city of St. Petersburg, Russia in 1992 to two young artists, Anna and Kirill. He spent his childhood competitively sailing on one of Russia's best teams, learning music, and being an all around inquisitive child. He attended a very competitive technical/mathematics school, and studied Psychology at St. Petersburg State University. After graduating and working for a few years, he moved to sunny California where he's a PhD student in Cognitive Science with a passion for Machine Learning. He is interested in figuring out the best ways in which humans learn, using machines. One of Arseny's ultimate goals in life is to seek beautiful things-- whether that means finding them or creating them himself. <br> <br>
							 Arseny, to me, is a paradox that I am fascinated with. He loves the simple things such as hanging out at home on weekends, and eating raw veggies. Once comfortable with something, he sees little reason to change it. Yet in other ways, he is the most complex being I've ever met. He is always striving for more, in his research, in his knowledge, and in himself. He knows English grammar and vocabulary better than I ever did, and I think that's a product of his relentless spirit when studying something he finds important. He sleeps like a baby (arguably not a morning person), but debates like someone who is already a tenured academic. He loves his family and his country but is never afraid to explore new places. Depending on the task, it can take him two seconds or two years to finish something. My favorite nickname for him is "медведь" (bear) because of his abilities to hibernate, eat, scare people in sports (he's quite competitive), and hug me tightly. I am happy to be going through this journey with my bear.
							 <em>-- Richelle</em>
						 </p>
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="row align-items-center content">
			<div class="col-md-6 text-center my-2 blurb mb-5 mb-md-0">
				<div class="row justify-content-center">
					 <div class="col-10">
						<h2>The Bride</h2>
						 <h3> Richelle - Ann Undan Cabatic </h3>
						 <h4> Ришель - Энн Ундан Кабатик </h4>
						 <span class="d-none d-lg-inline"><i class="fas fa-globe-americas fa-3x"></i></span>
						<p class="lead mt-2">
							<strong>Richelle </strong>  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah h blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah h blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah h blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah h blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah 
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<img class="img-fluid" src="https://i.imgur.com/nyWYN5Y.jpg" alt="richelle">
			</div>
			
		</div>
		
	</section>
	
<%- include("../partials/footer") %>	