<%- include("../partials/header") %>
	<div class="container">
		<h1> Wedding Party </h1>
		<div class="container">
			<p>
				We are so happy to have a wonderful set of friends (and family) to help us celebrate this day. They have helped us grow, supported us, and have been supportive of our relationship from the very beginning. BLAHHHHHh someone help me write this.
			</p>
		</div>
	</div>

	<div class="container fullpage">
<hr>

<div class="container py-4">
    <div class="row" id="row1">
        <div class="col-md-4 py-2">
            <div class="card card-body p-0">
                <a href="#detail1" data-toggle="collapse" aria-expanded="true">
					<img src="https://i.imgur.com/HQkuICw.jpg" alt="an image here" class="img-fluid rounded-lg shadow-md">
                </a>
            </div>
        </div>
        <div class="col py-2 order-md-last collapse fade show" id="detail1">
           	<div class="card card-body">
				<h1>
					Erin Manibog
				</h1>
				<p>
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
        </div>
        <div class="col-md-4 py-2">
            <div class="card card-body p-0">
                <a href="#detail2" data-toggle="collapse" aria-expanded="true">
                    <img src="//dummyimage.com/897x556.png/5fa2dd/ffffff?text=Amber" alt="an image here" class="img-fluid rounded-lg shadow-sm">
                </a>
            </div>
        </div>
        <div class="col py-2 order-md-last collapse fade" id="detail2">
            <div class="card card-body">
				<h1>
					Amber McKay
				</h1>
				<p>
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
        </div>
        <div class="col-md-4 py-2">
            <div class="card card-body p-0">
                <a href="#detail3" data-toggle="collapse" aria-expanded="true">
                    <img src="https://i.imgur.com/HQkuICw.jpg" alt="Dominique" class="img-fluid rounded-lg shadow-md">
                </a>
            </div>
        </div>
        <div class="col py-2 order-md-last collapse fade" id="detail3">
            <div class="card card-body">
				<h1>
					Dominique Montiho-Cortez
				</h1>
				<p>
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
        </div>
    </div>
    <div class="row d-flex" id="row2">
        <div class="col-md-4 py-2">
            <div class="card card-body p-0">
                <a href="#detail4" data-toggle="collapse" aria-expanded="true">
                    <img src="//dummyimage.com/897x556.png/808080/ffffff?text=Roman" alt="an image here" class="img-fluid rounded-lg shadow-sm">
                </a>
            </div>
        </div>
        <div class="col py-2 order-md-last collapse fade" id="detail4">
            <div class="card card-body">
				<h1>
					Roman T__
				</h1>
				<p>
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
        </div>
        <div class="col-md-4 py-2">
            <div class="card card-body p-0">
                <a href="#detail5" data-toggle="collapse" aria-expanded="true">
                    <img src="//dummyimage.com/897x556.png/118080/ffffff?text=Maxim" alt="an image here" class="img-fluid rounded-lg shadow-sm">
                </a>
            </div>
        </div>
        <div class="col py-2 order-md-last collapse fade" id="detail5">
            <div class="card card-body">
				<h1>
					Maxim S__
				</h1>
				<p>
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
        </div>
        <div class="col-md-4 py-2">
            <div class="card card-body p-0">
                <a href="#detail6" data-toggle="collapse" aria-expanded="true">
                    <img src="//dummyimage.com/897x556.png/808080/ffffff?text=Daniel" alt="an image here" class="img-fluid rounded-lg shadow-sm">
                </a>
            </div>
        </div>
        <div class="col py-2 order-md-last collapse fade" id="detail6">
            <div class="card card-body">
				<h1>
					Daniel Moskvichev
				</h1>
				<p>
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
        </div>
    </div>
</div>
	
	</div>

<%- include("../partials/footer") %>