<%- include("../partials/header") %>
<div class="container">
	<h1>
	Week Timeline
	</h1>
	<hr>

	<div class="row justify-content-around"> 
		<div class="col mx-1 my-1">
			<div class="card">
				<div class="card-body text-center">
					<span><i class="fas fa-plane-arrival fa-3x"></i></span>
					<hr>
					<h5 class="card-title">July 4 2021</h5>
					<h6 class="card-subtitle mb-2 text-muted">Arrival</h6>
					<p class="card-text">People are welcome to come to the chalet anytime after 4pm (check in)</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body text-center">
					<span><i class="fas fa-suitcase fa-3x"></i></span>
					<hr>
					<h5 class="card-title">July 5</h5>
					<h6 class="card-subtitle mb-2 text-muted">Arrival</h6>
					<p class="card-text">Wedding preparations: Food, flowers, and all things good vibes</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card border border-dark">
				<div class="card-body text-center">
					<span><i class="fas fa-heart fa-3x"></i></span>
					<hr>
					<h5 class="card-title" style="color: red">July 6</h5>
					<h6 class="card-subtitle mb-2 text-muted">Arrival</h6>
					<p class="card-text">The big day! Ceremony at __, reception early dinner to follow</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row justify-content-around"> 
			<div class="col">
			<div class="card">
				<div class="card-body text-center">
					<span><i class="fas fa-coffee fa-3x"></i></span>
					<hr>
					<h5 class="card-title">July 7</h5>
					<h6 class="card-subtitle mb-2 text-muted">Arrival</h6>
					<p class="card-text">Family brunch/lunch and wedding clean-up</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body text-center">
					<span><i class="fas fa-mountain fa-3x"></i></span>
					<hr>
					<h5 class="card-title">July 8</h5>
					<h6 class="card-subtitle mb-2 text-muted"></h6>
					<p class="card-text">Free day to hang out in chalet, explore surrounding areas, and relax!</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body text-center">
					<span><i class="fas fa-passport fa-3x"></i></span>
					<hr>
					<h5 class="card-title">July 9 2021 </h5>
					<h6 class="card-subtitle mb-2 text-muted">Departure</h6>
					<p class="card-text">Departures, Check out of chalet by 10am</p>
				</div>
			</div>
		</div>

	</div>
</div>
<%- include("../partials/footer") %>