<%- include("../partials/header") %>
<div class="container">
	<div class="jumbotron">
		<h1>
		La Rosiere...
		</h1>
	</div>
	<div class="container py-4">
		<div class="row border border-dark text-center" id="row1" style="height: 5rem;">
					<a href="#detail1" data-toggle="collapse" aria-expanded="true">
						<!-- <img src="https://i.imgur.com/HQkuICw.jpg" alt="an image here" class="img-fluid rounded-lg shadow-md"> -->
						<h1> The Chalet </h1> <!-- WHY WONT THIS CENTER??-->
					</a>
		</div>
			<div class="py-2 order-md-last collapse fade show" id="detail1">
				<div class="card card-body">
					<h2>
						Chalet Accomodation
					</h2>
					<p>
					It's time to spend some time in the beautiful French countryside! We've found a chalet (large French style house usually used for skiing) located on the edge of a village. 
This large 3 story chalet will be rented for four nights from July 4th (mid afternoon) - July 8th (morning). As a way to remedy costs for our guests, we offer the chalet rooms to family members for the duration of the rental, if there is room in the chalet after family members are accounted for, the chalet will also be open for friends to stay. We are happy to have the chalet filled with people we love. </p>
				<br>
<p> The chalet can fit up to 22 people- with 6 bedrooms, 4 bathrooms, and 5 water closets (toilets). This being said, in many rooms there are multiple beds, meaning people will have to share sleeping space, and no one will have a room to themselves! Once everyone RSVPs accordingly, we will make sure there is a logical order to room accommodations such that everyone gets a bed in a bedroom with people they are comfortable with. We don't want anyone stepping on each other's toes, but we also want everyone to have opportunities to bond and get to know each other! Please RSVP as soon as possible. 
The chalet also has a full kitchen, multiple areas to hang out and relax. 
					</p><br>
					<p>
Please check out the <a href="http://chaletdeslaix.com/en/home-2/">chalet website </a>for more details about the place!  
					</p>
			</div>
		</div>
	</div>
	
</div>


<%- include("../partials/footer") %>